:root {
    --white-color: #ffffff;
    --red-color:  #e60012;
    --grey-color: #b0b0b0;
    --light-grey-color: #cdcdcd;
    --black-color: #000000;
    --black-second-color: #232323;
    --grey-93-color: #ededed;
} 